body{
    text-align: center;
}
.contNumtomb{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width: 9%;
    text-align: center;
    background-color: antiquewhite;
    
}
.tabel{
    margin: 10%;
}
.newClassDiv{
    background-color: red;
}